@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
    color: inherit;
    text-decoration: none;
}

.dark {
    --bg: #0f172a;
    --textColor: #ddd;
    --softBg: #1f273a;
    --softTextColor: #a6a6a6;
  }
  
  
  .light {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
  }

  
  .containerTitle {
    @apply font-bold text-4xl my-[50px]
}


input, textarea, select {
  @apply border border-gray-500 px-1 hover:border-gray-900;
  @apply mb-2 resize-none;
}

input:focus {
  @apply border-none outline-none
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}

.quill > input::placeholder {
  color: #b3b3b1;
}